In [ ]:
#standardization of variables

import pandas as pd
from sklearn.preprocessing import StandardScaler
df=pd.read_csv(r'/content/sales_data_with_discounts.csv')
df

,Date,Day,SKU,City,Volume,BU,Brand,Model,Avg Price,Total Sales Value,Discount Rate (%),Discount Amount,Net Sales Value
0,01-04-2021,Thursday,M01,C,15,Mobiles,RealU,RU-10,12100,181500,11.654820,21153.498820,160346.501180
1,01-04-2021,Thursday,M02,C,10,Mobiles,RealU,RU-9 Plus,10100,101000,11.560498,11676.102961,89323.897039
2,01-04-2021,Thursday,M03,C,7,Mobiles,YouM,YM-99,16100,112700,9.456886,10657.910157,102042.089843
3,01-04-2021,Thursday,M04,C,6,Mobiles,YouM,YM-99 Plus,20100,120600,6.935385,8364.074702,112235.925298
4,01-04-2021,Thursday,M05,C,3,Mobiles,YouM,YM-98,8100,24300,17.995663,4372.946230,19927.053770
...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,15-04-2021,Thursday,L06,C,2,Lifestyle,Jeera,M-Casuals,1300,2600,15.475687,402.367873,2197.632127
446,15-04-2021,Thursday,L07,C,6,Lifestyle,Viva,W-Western,2600,15600,17.057027,2660.896242,12939.103758
447,15-04-2021,Thursday,L08,C,2,Lifestyle,Viva,W-Lounge,1600,3200,18.965550,606.897606,2593.102394
448,15-04-2021,Thursday,L09,C,3,Lifestyle,Jeera,M-Formals,1900,5700,16.793014,957.201826,4742.798174
449,15-04-2021,Thursday,L10,C,1,Lifestyle,Jeera,M-Shoes,3100,3100,15.333300,475.332295,2624.667705


**Standardization,** also known as z-score normalization, is a technique used to transform data into a standard normal distribution. It's particularly useful in machine learning and statistics when working with datasets that may have different scales or units of measurement.

**Purpose and Importance of Standardization**:
Comparability: Standardization allows different variables with different scales and units to be compared directly. This is crucial in many statistical analyses and machine learning algorithms (e.g., k-means clustering, principal component analysis) where variables need to be on the same scale for meaningful comparisons.

Interpretability: Transformed data (standardized to a mean of 0 and a standard deviation of 1) are easier to interpret in terms of their relative position within the dataset.

Algorithm performance: Many machine learning algorithms perform better or converge faster when the input data is standardized. Algorithms that rely on distance measures (e.g., k-nearest neighbors) or gradient descent (e.g., neural networks) can benefit significantly from standardization.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               450 non-null    object
 1   Day                450 non-null    object
 2   SKU                450 non-null    object
 3   City               450 non-null    object
 4   Volume             450 non-null    int64
 5   BU                 450 non-null    object
 6   Brand              450 non-null    object
 7   Model              450 non-null    object
 8   Avg Price          450 non-null    int64
 9   Total Sales Value  450 non-null    int64
 10  Discount Rate (%)  450 non-null    float64
 11  Discount Amount    450 non-null    float64
 12  Net Sales Value    450 non-null    float64
dtypes: float64(3), int64(3), object(7)
memory usage: 45.8+ KB

In [ ]:
column_to_standardize='Volume'
column_to_standardize1='Avg Price'
column_to_standardize2='Discount Rate (%)'
column_to_standardize3='Discount Amount'
column_to_standardize4='Net Sales Value'
column_to_standardize5='Total Sales Value'
scaler = StandardScaler()
df[column_to_standardize]= scaler.fit_transform(df[[column_to_standardize]])
df[column_to_standardize1]= scaler.fit_transform(df[[column_to_standardize1]])
df[column_to_standardize2]= scaler.fit_transform(df[[column_to_standardize2]])
df[column_to_standardize3]= scaler.fit_transform(df[[column_to_standardize3]])
df[column_to_standardize4]= scaler.fit_transform(df[[column_to_standardize4]])
df[column_to_standardize5]= scaler.fit_transform(df[[column_to_standardize5]])
df.to_csv('standardized.csv',index=False)

In [ ]:
print('The original Dataframe volume column is')
dff=pd.read_csv(r'/content/sales_data_with_discounts.csv')
print(dff)
print('\nThe standardized Dataframe is')
df=pd.read_csv(r'/content/standardized.csv')
print(df)

The original Dataframe volume column is
           Date       Day  SKU City  Volume         BU  Brand       Model  \
0    01-04-2021  Thursday  M01    C      15    Mobiles  RealU       RU-10
1    01-04-2021  Thursday  M02    C      10    Mobiles  RealU   RU-9 Plus
2    01-04-2021  Thursday  M03    C       7    Mobiles   YouM       YM-99
3    01-04-2021  Thursday  M04    C       6    Mobiles   YouM  YM-99 Plus
4    01-04-2021  Thursday  M05    C       3    Mobiles   YouM      YM-98
..          ...       ...  ...  ...     ...        ...    ...         ...
445  15-04-2021  Thursday  L06    C       2  Lifestyle  Jeera   M-Casuals
446  15-04-2021  Thursday  L07    C       6  Lifestyle   Viva   W-Western
447  15-04-2021  Thursday  L08    C       2  Lifestyle   Viva    W-Lounge
448  15-04-2021  Thursday  L09    C       3  Lifestyle  Jeera   M-Formals
449  15-04-2021  Thursday  L10    C       1  Lifestyle  Jeera     M-Shoes

     Avg Price  Total Sales Value  Discount Rate (%)  Discount Amount  \
0        12100             181500          11.654820     21153.498820
1        10100             101000          11.560498     11676.102961
2        16100             112700           9.456886     10657.910157
3        20100             120600           6.935385      8364.074702
4         8100              24300          17.995663      4372.946230
..         ...                ...                ...              ...
445       1300               2600          15.475687       402.367873
446       2600              15600          17.057027      2660.896242
447       1600               3200          18.965550       606.897606
448       1900               5700          16.793014       957.201826
449       3100               3100          15.333300       475.332295

     Net Sales Value
0      160346.501180
1       89323.897039
2      102042.089843
3      112235.925298
4       19927.053770
..               ...
445      2197.632127
446     12939.103758
447      2593.102394
448      4742.798174
449      2624.667705

[450 rows x 13 columns]

The standardized Dataframe is
           Date       Day  SKU City    Volume         BU  Brand       Model  \
0    01-04-2021  Thursday  M01    C  2.350029    Mobiles  RealU       RU-10
1    01-04-2021  Thursday  M02    C  1.167129    Mobiles  RealU   RU-9 Plus
2    01-04-2021  Thursday  M03    C  0.457388    Mobiles   YouM       YM-99
3    01-04-2021  Thursday  M04    C  0.220808    Mobiles   YouM  YM-99 Plus
4    01-04-2021  Thursday  M05    C -0.488932    Mobiles   YouM      YM-98
..          ...       ...  ...  ...       ...        ...    ...         ...
445  15-04-2021  Thursday  L06    C -0.725512  Lifestyle  Jeera   M-Casuals
446  15-04-2021  Thursday  L07    C  0.220808  Lifestyle   Viva   W-Western
447  15-04-2021  Thursday  L08    C -0.725512  Lifestyle   Viva    W-Lounge
448  15-04-2021  Thursday  L09    C -0.488932  Lifestyle  Jeera   M-Formals
449  15-04-2021  Thursday  L10    C -0.962092  Lifestyle  Jeera     M-Shoes

     Avg Price  Total Sales Value  Discount Rate (%)  Discount Amount  \
0     0.091173           2.925721          -0.830289         3.952816
1    -0.019570           1.330995          -0.852661         1.849014
2     0.312659           1.562775          -1.351631         1.622995
3     0.534146           1.719276          -1.949723         1.113807
4    -0.130313          -0.188452           0.673739         0.227852
..         ...                ...                ...              ...
445  -0.506840          -0.618334           0.076009        -0.653541
446  -0.434857          -0.360801           0.451097        -0.152191
447  -0.490229          -0.606448           0.903793        -0.608140
448  -0.473617          -0.556923           0.388474        -0.530379
449  -0.407171          -0.608429           0.042235        -0.637345

     Net Sales Value
0           2.804756
1           1.271026
2           1.545675
3           1.765810
4          -0.227595
..               ...
445        -0.610461
446        -0.378500
447        -0.601921
448        -0.555499
449        -0.601239

[450 rows x 13 columns]

In [ ]:
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450 entries, 0 to 449
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               450 non-null    object
 1   Day                450 non-null    object
 2   SKU                450 non-null    object
 3   City               450 non-null    object
 4   Volume             450 non-null    float64
 5   BU                 450 non-null    object
 6   Brand              450 non-null    object
 7   Model              450 non-null    object
 8   Avg Price          450 non-null    float64
 9   Total Sales Value  450 non-null    float64
 10  Discount Rate (%)  450 non-null    float64
 11  Discount Amount    450 non-null    float64
 12  Net Sales Value    450 non-null    float64
dtypes: float64(6), object(7)
memory usage: 45.8+ KB

,Date,Day,SKU,City,Volume,BU,Brand,Model,Avg Price,Total Sales Value,Discount Rate (%),Discount Amount,Net Sales Value
0,01-04-2021,Thursday,M01,C,2.350029,Mobiles,RealU,RU-10,0.091173,2.925721,-0.830289,3.952816,2.804756
1,01-04-2021,Thursday,M02,C,1.167129,Mobiles,RealU,RU-9 Plus,-0.019570,1.330995,-0.852661,1.849014,1.271026
2,01-04-2021,Thursday,M03,C,0.457388,Mobiles,YouM,YM-99,0.312659,1.562775,-1.351631,1.622995,1.545675
3,01-04-2021,Thursday,M04,C,0.220808,Mobiles,YouM,YM-99 Plus,0.534146,1.719276,-1.949723,1.113807,1.765810
4,01-04-2021,Thursday,M05,C,-0.488932,Mobiles,YouM,YM-98,-0.130313,-0.188452,0.673739,0.227852,-0.227595
...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,15-04-2021,Thursday,L06,C,-0.725512,Lifestyle,Jeera,M-Casuals,-0.506840,-0.618334,0.076009,-0.653541,-0.610461
446,15-04-2021,Thursday,L07,C,0.220808,Lifestyle,Viva,W-Western,-0.434857,-0.360801,0.451097,-0.152191,-0.378500
447,15-04-2021,Thursday,L08,C,-0.725512,Lifestyle,Viva,W-Lounge,-0.490229,-0.606448,0.903793,-0.608140,-0.601921
448,15-04-2021,Thursday,L09,C,-0.488932,Lifestyle,Jeera,M-Formals,-0.473617,-0.556923,0.388474,-0.530379,-0.555499
449,15-04-2021,Thursday,L10,C,-0.962092,Lifestyle,Jeera,M-Shoes,-0.407171,-0.608429,0.042235,-0.637345,-0.601239

**ONE** **Hot** **Coding**
converting categorical data into dummy variables (one-hot encoding) is needed because it transforms qualitative information into a format that can be effectively used for modeling and analysis in machine learning. It ensures that categorical variables are properly represented without introducing unintended relationships between categories, making the data suitable for a wide range of algorithms and enhancing the interpretability of model results.


**Importance of One-Hot Encoding (Dummy Variables)**:
Preserves categorical nature: One-hot encoding transforms each categorical variable into a set of binary variables (dummy variables), where each variable represents one category. Each observation (or data point) is then represented by a vector of binary values indicating the presence or absence of each category.

Avoids ordinality assumption: By using binary variables, one-hot encoding avoids assuming any ordinal relationship between categories. Each category is treated as distinct and unrelated to others.

Compatibility with algorithms: Most machine learning algorithms (e.g., regression, SVMs, neural networks) interpret numerical inputs. One-hot encoding allows categorical variables to be included as input features in these algorithms.

Interpretability: Models trained on one-hot encoded data can provide more interpretable results. For example, coefficients in linear models represent the effect of each category independently from others.

Each data point in the dataset would then be represented by these three binary variables, effectively capturing the categorical information without imposing any ordinality.

In [ ]:
# applying one hot coding to categorical columns
categorical_columns=['Date','Day','SKU','City','BU','Brand','Model']
df_encoded=pd.get_dummies(df,columns=categorical_columns)
one_hot_columns=df_encoded.columns.difference(df.columns)
df_encoded[one_hot_columns]=df_encoded[one_hot_columns].astype(int)
df_encoded.to_csv('encoded_file.csv',index=False)

In [ ]:
df_encoded_csv=pd.read_csv(r'/content/encoded_file.csv')
df_encoded_csv

,Volume,Avg Price,Total Sales Value,Discount Rate (%),Discount Amount,Net Sales Value,Date_01-04-2021,Date_02-04-2021,Date_03-04-2021,Date_04-04-2021,...,Model_Vedic Cream,Model_Vedic Oil,Model_Vedic Shampoo,Model_W-Casuals,Model_W-Inners,Model_W-Lounge,Model_W-Western,Model_YM-98,Model_YM-99,Model_YM-99 Plus
0,2.350029,0.091173,2.925721,-0.830289,3.952816,2.804756,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.167129,-0.019570,1.330995,-0.852661,1.849014,1.271026,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.457388,0.312659,1.562775,-1.351631,1.622995,1.545675,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0.220808,0.534146,1.719276,-1.949723,1.113807,1.765810,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,-0.488932,-0.130313,-0.188452,0.673739,0.227852,-0.227595,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,-0.725512,-0.506840,-0.618334,0.076009,-0.653541,-0.610461,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
446,0.220808,-0.434857,-0.360801,0.451097,-0.152191,-0.378500,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
447,-0.725512,-0.490229,-0.606448,0.903793,-0.608140,-0.601921,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
448,-0.488932,-0.473617,-0.556923,0.388474,-0.530379,-0.555499,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
449,-0.962092,-0.407171,-0.608429,0.042235,-0.637345,-0.601239,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

**Summary**
To effectively summarize the key findings from descriptive analytics and data visualizations, we typically focus on the insights gained from exploring and summarizing the dataset without applying complex statistical models. Here are some common key findings that might emerge

Summary Statistics:
We Identified central tendencies (mean, median) and dispersion (standard deviation, range) of numerical variables.

Outliers and Anomalies:
We Identified outliers in numerical data using box plots, histograms, or scatter plots.
Determine the potential causes or explanations for outliers.

Data Distribution:
We Visualized the distribution of numerical variables using histograms.
Compared distributions of different groups using side-by-side box plots.

Thus,Descriptive analytics and data visualizations provide foundational insights into the characteristics and behavior of data without delving into predictive or inferential models. They help in understanding the current state of affairs, identifying patterns and anomalies, and informing further analysis or decision-making processes. Each key finding derived from these analyses contributes to a comprehensive understanding of the dataset and guides subsequent steps in data exploration and modeling